.home-page {
  margin-top: $xxxl;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    color: #0a1f44;
  }

  &__movies-container {
    margin-top: $xl;
    gap: $xl;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
